.project-link-delete, .collection_delete_button {
    cursor: pointer;
}

#project-edit-buttons {
    position: fixed;
    bottom: 36px;
    right: 0;
}

.page-image {
    border: black solid 1px;
    text-align: center;
}

header {
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
