<div id="project-edit-buttons" class="btn-group-vertical btn-group-lg">
    <button id="project-add_page-btn" type="button" class="btn btn-secondary">Add page</button>
    <button id="project-save-btn" type="button" class="btn btn-primary">Save</button>
</div>