{% extends 'layout.html.twig' %}

{% block title %}
    {% if access_helper.canEdit %}
        Edit
    {% elseif access_helper.canComment %}
        Comments for
    {% else %}
        View
    {% endif %}
    "{{ project.name }}"
{% endblock %}

{% block body %}
    {% if not access_helper.isMainAccess %}
        <h1 class="text-center">{{ project.name }}</h1>
    {% endif %}
{% block content %}{% endblock %}
{% endblock %}

{% block footer %}
    {% if project_links_form is defined and access_helper.isMainAccess %}
        {% include 'project/parts/modal_links_config.html.twig' %}
    {% endif %}
    {% if access_helper.canEdit %}
        {% include 'project/parts/modal_table_add_column.html.twig' %}
    {% endif %}
{% endblock %}